@import "@repo/ui/styles.css";

@layer base {
  html {
    color-scheme: light;
  }

  body {
    min-height: 100vh;
  }
}

@layer utilities {
  .leaflet-container {
    font-family: var(--font-body);
  }
}
